
.logo img {
    height: 45px;
    width: 100px;
}

#center {
    flex: 0 1 732px;
    min-width: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#search-bar {
    width: 588px;
}

